{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
      "atom": false,
      "var2": false
  },
  "rules": {
    "no-console": 0,
    "no-undef": "error",
    "no-var": 1,
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "semi": [1, "never"]
  }
}
