{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
      "atom": false,
      "var2": false
  },
  "rules": {
    "no-console": 0
  }
}
